<section>
	<div class="container">

		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="text-block">
					<div class="detail-line"></div>
					<h5>Contactar a un asesor.</h5>
					{#<h4>Tell us a little about your idea</h4>#}
				</div>
			</div>
		</div><!--end of row-->
		
		<div class="row">
			<div class="col-md-5 contact-2 clearfix">
				<div class="contact-method visible-md visible-lg">
					<i class="icon pe-7s-phone"></i>
					<span>33 37707492</span>
				</div>
				<a href="tel:3338187543" class="primaryLinkWithStyle plwsTransparentLight TargetLinks col-xs-12 visible-xs visible-sm" style="background: #9e1b32; color: #fff; border-color: #9e1b32; border-radius: 0px; font-size: 1.3em; margin-top: 0px; margin-bottom: 35px;">
                    <i class="fa fa-phone fa-fw fa-lg"></i>
					<span>Llámanos</span>
                </a>
			</div>
			<div class="col-md-6">
				<div class="">
					<div class="contact_main">
						<div class="contact_content">
							{% embed "refacciones/repairs_form.twig" %}{% endembed %}
						</div>
					</div>
				</div>
			</div>
		</div><!--end of row-->

	</div><!--end of container-->
</section>
<section>
	<div class="container">

		<div class="row video-strip">
			<div class="col-sm-12 text-center">
				<div class="pre-video">
					<i class="icon pe-7s-play"></i>
					<h2>Ver Video</h2>
				</div>

				<div class="iframe-holder" id="wrapper_iframe_holder">
					<i class="close-frame pe-7s-close-circle" id="stop-video"></i>
					<iframe id="youtube-player" width="560" height="315" src="https://www.youtube.com/embed/yHAfY6kcAd0" frameborder="0" allowfullscreen allowscriptaccess="always"></iframe>
				</div>
			</div>
		</div><!--end of row-->

	</div><!--end of container-->
</section>