<section class="contact-2">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="text-block">
					<div class="detail-line"  style="background: #000;"></div>
					{#<h5>Contact Us</h5>#}
					<h4 style="color: #000;">Jaguar Country</h4>
					<p style="color: #000; font-size: 17px;">
						Servicio de Mantenimiento
					</p>
				</div>
			</div>

			<div class="col-md-3 col-sm-6">
				<div class="contact-method">
					<i class="icon pe-7s-phone"></i>
					<span>01 (33) 3818 - 7560</span>
				</div>

				<div class="contact-method hidden">
					<i class="icon pe-7s-mail-open-file"></i>
					<span>hello@machine.net</span>
				</div>

				<div class="contact-method">
					<i class="icon pe-7s-map-marker"></i>
					<span>
						Circunvalación Jorge Álvarez <br> del Castillo No. 1443 <br>
						Col. Jardines del Country <br>
						Guadalajara, Jalisco <br>
						C.P. 44610
					</span>
				</div>
			</div>

			<div class="col-md-5 col-sm-12">
				{% embed "servicio/service_form_country.twig" %}{% endembed %}
			</div>
		</div>{#end of row#}
	</div>{#end of container#}
</section>