{% extends "super.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block content_current %}
	{# =========================
	    PAGE HEADER
	============================== #}
	<section class="page-head bg-img p-y-md" style="background-image:url('{{ _host }}img/aviso-de-privacidad.jpg'); background-position: center; background-repeat: no-repeat;">
	    <!-- <div class="overlay"></div> -->
	    <div class="container">
	        <div class="row c2 h-bg text-white">
	            <div class="col-sm-6">
	                <h1 class="h3 f-w-900 m-b-0">Aviso de Privacidad</h1>
	            </div>
	            {#<div class="col-sm-6 text-right">
	                <ol class="breadcrumb m-b-0">
	                    <li>
	                        <a href="{{ _host }}" class="inverse">Inicio</a>
	                    </li>
	                    <li class="active">Aviso de Privacidad</li>
	                </ol>
	            </div>#}
	        </div>
	    </div>
	</section>
	{# /End Page Header #}

	{# =========================
           TERMS SECTION
    ============================== #}
    <section class="p-y-lg faqs schedule" style="background: #fff;">
        <div class="container">
            <div class="row">
            	<div class="col-md-12">
                    <h4 class="m-b-md">Estimado Cliente:</h4>
                    <p style="color: #000;">En Eurocavsa, S.A. de C.V. con domicilio en   AV. VALLARTA No. 5500 - A COL. CAMICHINES VALLARTA, ZAPOPAN JALISCO, C.P. 45020, la información de nuestros clientes es tratada de forma estrictamente confidencial y es tan importante como su seguridad al conducir nuestros vehículos, por lo que hacemos un esfuerzo permanente para salvaguardarla. </p>
                    <p style="color: #000;">Además le comunicamos que:</p>
                    <ul class="m-t-md bullets">
                        <li class="m-b"><p style="color: #000;">Las llamadas recibidas y/o realizadas a esta empresa podrán ser grabadas para fines de calidad en nuestro servicio.</p></li>
                        <li class="m-b"><p style="color: #000;">Al visitar nuestras instalaciones usted será grabado por las cámaras de seguridad.</p></li>
                    </ul>

                    <h4 class="p-t-md">CONFIDENCIALIDAD</h4>
                    <p style="color: #000;">Más que una política, en Eurocavsa, S.A. de C.V., tenemos la filosofía de mantener una relación estrecha y activa con nuestros clientes. Al proporcionar sus datos personales, consiente su tratamiento tanto dentro como fuera de los Estados Unidos Mexicanos y entiende que podrá ser procesada directa o indirectamente por sí misma, sus sociedades subsidiarias,  afiliadas o relacionadas, sus distribuidores autorizados y/o sus terceros proveedores de servicios con las siguientes finalidades:</p>
                    <ul class="m-t-md bullets">
                        <li class="m-b"><p style="color: #000;">Proveerle del bien y/o servicio que desea obtener.</p></li>
                        <li class="m-b"><p style="color: #000;">Dar cumplimiento a requerimientos legales.</p></li>
                        <li class="m-b"><p style="color: #000;">Realizar actividades de mercadeo y promoción en general.</p></li>
                        <li class="m-b"><p style="color: #000;">Ofrecerle nuestros productos, servicios e información de nuestros socios de negocios.</p></li>
                        <li class="m-b"><p style="color: #000;">Análisis estadísticos y de mercado.</p></li>
                    </ul>
                    <p style="color: #000;">Mantener actualizados nuestros registros para poder responder a sus consultas, invitarle a eventos exclusivos, hacer válida la garantía de su vehículo, informarle acerca de llamados a revisión de su vehículo, hacer de su conocimiento nuestras promociones y lanzamientos y mantener comunicación en general, así como, dar seguimiento a nuestra relación comercial.</p>

                    <h4 class="p-t-md">ACCESO, RECTIFICACIÓN, CANCELACIÓN U OPOSICIÓN DE DATOS PERSONALES Y REVOCACIÓN DEL CONSENTIMIENTO</h4>
                    <p style="color: #000;">Todos sus datos personales son tratados de acuerdo a las Leyes de protección vigentes en el país, por ello le informamos que tiene en todo momento el derecho de acceder, rectificar, cancelar u oponerse al tratamiento que le damos a los datos personales, así como revocar el consentimiento otorgado para el tratamiento de los mismos; derecho que podrá hacer valer a través de Eurocavsa, S.A. de C.V. o solicitándolo al correo <a href="protecciondedatos@eurocavsa.com.mx" class="hvr-underline-from-center" style="color: #000;">protecciondedatos@eurocavsa.com.mx</a> para que su solicitud sea direccionada al departamento correspondiente.</p>
                    <p style="color: #000;">A través de estos canales usted podrá actualizar sus datos y especificar el medio por el cual desea recibir información, en caso de no contar con esta especificación de su parte Eurocavsa, S.A. de C.V., establecerá el canal que consideren pertinente para enviarle información.</p>
                    <p style="color: #000;">Asimismo, de conformidad con la Legislación aplicable Eurocavsa, S.A. de C.V., cuenta con un periodo de 20 días para responder a su solicitud, de lo contrario, usted tiene el derecho de iniciar un procedimiento de protección de derechos ante el Instituto Federal de Acceso a la Información y  Protección de Datos (IFAI).</p>
                    <p style="color: #000;">Este aviso de privacidad podrá ser modificado de tiempo en tiempo, dichas modificaciones serán oportunamente informadas mediante correo electrónico o cualquier otro medio de comunicación oral, impreso o electrónico que Eurocavsa, S.A. de C.V., determine para tal efecto.</p>
                </div>
            </div>
        </div>
	</section>
	

	{#
	<section class="title-text-divider" style="margin-top: 100px;">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
					<h2>AVISO DE PRIVACIDAD</h2>
				</div>
			</div><!--end of row-->
		</div><!--end of container-->
	</section>
	<section class="instagram-1" style="padding: 0px; height: 0px; background-color: #fff; clear: both;"></section>
	<section class="article-wrapper">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-3 text-center">
				</div>

				<div class="col-md-7 col-sm-9">
					<div class="article-single">
						<div class="text-block">
							<div class="detail-line"></div>
							<h4>Estimado Cliente:</h4>
						</div>
						<p>
							<em>En Eurocavsa, S.A. de C.V. con domicilio en   AV. VALLARTA No. 5500 - A COL. CAMICHINES VALLARTA, ZAPOPAN JALISCO, C.P. 45020, la información de nuestros clientes es tratada de forma estrictamente confidencial y es tan importante como su seguridad al conducir nuestros vehículos, por lo que hacemos un esfuerzo permanente para salvaguardarla.</em>
						</p>

						<h3 class="alt-font uppercase">CONFIDENCIALIDAD</h3>

						<p>
							<em>M&aacute;s que una pol&iacute;tica, en Eurocavsa, S.A. de C.V., tenemos la  filosof&iacute;a de mantener una relaci&oacute;n estrecha y activa con nuestros clientes. Al  proporcionar sus datos personales, consiente su tratamiento tanto dentro como  fuera de los Estados Unidos Mexicanos y entiende que podr&aacute; ser procesada  directa o indirectamente por s&iacute; misma, sus sociedades subsidiarias,&nbsp; afiliadas o relacionadas, sus distribuidores  autorizados y/o sus terceros proveedores de servicios con las siguientes  finalidades:</em>
						</p>

						<ul class="bullets">
							<li>Proveerle del bien y/o servicio que desea obtener.</li>
							<li>Dar  cumplimiento a requerimientos legales.</li>
							<li>Realizar actividades de mercadeo y promoci&oacute;n en general.</li>
							<li>Ofrecerle nuestros productos, servicios e informaci&oacute;n de nuestros socios  de negocios.</li>
							<li>An&aacute;lisis estad&iacute;sticos y de mercado.</li>
						</ul>

						<p>
							<em>Mantener actualizados nuestros registros para poder responder  a sus consultas, invitarle a eventos exclusivos, hacer v&aacute;lida la garant&iacute;a de su  veh&iacute;culo, informarle acerca de llamados a revisi&oacute;n de su veh&iacute;culo, hacer de su  conocimiento nuestras promociones y lanzamientos y mantener comunicaci&oacute;n en  general, as&iacute; como, dar seguimiento a nuestra relaci&oacute;n comercial.</em>
						</p>

						<h3 class="alt-font uppercase">ACCESO, RECTIFICACI&Oacute;N, CANCELACI&Oacute;N U OPOSICI&Oacute;N DE DATOS  PERSONALES Y REVOCACI&Oacute;N DEL CONSENTIMIENTO</h3>

						<p>
							Todos sus datos personales son tratados de acuerdo a las  Leyes de protecci&oacute;n vigentes en el pa&iacute;s, por ello le informamos que tiene en  todo momento el derecho de acceder, rectificar, cancelar u oponerse al  tratamiento que le damos a los datos personales, as&iacute; como revocar el  consentimiento otorgado para el tratamiento de los mismos; derecho que podr&aacute;  hacer valer a trav&eacute;s de Eurocavsa, S.A. de C.V.
						</p>

						<p>
							A trav&eacute;s de estos canales usted podr&aacute; actualizar sus datos y  especificar el medio por el cual desea recibir informaci&oacute;n, en caso de no  contar con esta especificaci&oacute;n de su parte Eurocavsa, S.A. de C.V., establecer&aacute;  el canal que consideren pertinente para enviarle informaci&oacute;n.
						</p>

						<p>
							Asimismo, de conformidad con la Legislaci&oacute;n aplicable&nbsp; Eurocavsa, S.A. de C.V., cuenta con un  periodo de 20 d&iacute;as para responder a su solicitud, de lo contrario, usted tiene  el derecho de iniciar un procedimiento de protecci&oacute;n de derechos ante el  Instituto Federal de Acceso a la Informaci&oacute;n y&nbsp;  Protecci&oacute;n de Datos (IFAI).
						</p>

						<p>
							Este aviso de privacidad podr&aacute; ser modificado de tiempo en  tiempo, dichas modificaciones ser&aacute;n oportunamente informadas mediante correo  electr&oacute;nico o cualquier otro medio de comunicaci&oacute;n oral, impreso o electr&oacute;nico  que Eurocavsa, S.A. de C.V., determine para tal efecto.
						</p>

					</div>
				</div>

				<div class="col-md-3 col-md-offset-0 col-sm-9 col-sm-offset-3">

				</div>

			</div><!--end of row-->
		</div><!--end of container-->
	</section>
	#}
{% endblock %}
{% block load_scripts %}
$(window).on("scroll", scrollHeader.init);
{% endblock %}