<section>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="text-block">
					<div class="detail-line"></div>
					<h5>Contacta <br> a un asesor.</h5>
					{#<h4>Tell us a little about your idea</h4>#}
				</div>
			</div>
		</div><!--end of row-->

		<div class="row">
			<div class="col-md-5 contact-2">
				<div class="contact-method visible-md visible-lg">
					<i class="icon pe-7s-phone"></i>
					<span>33 3818 7543</span>
				</div>
				<div class="contact-method">
					<i class="icon pe-7s-map-marker"></i>
					<span>
						Horarios de atenci칩n de servicio <br>
						Lunes a Viernes: 8:30 A.M. a 8:00 P.M. <br>
						S치bado: 8:30 A.M. a 3:00 P.M.
					</span>
				</div>
			</div>
			<div class="col-md-6 my-hidden-form">
				<div class="visible-md visible-lg">
					<div class="contact_main">
						<div class="contact_content">
							{% embed "servicio/service_form.twig" %}
								{% set scope = "web" %}
							{% endembed %}
						</div>
					</div>
				</div>
			</div>
		</div><!--end of row-->

	</div><!--end of container-->
</section>
<div class="section-wrapper section-highlight page-intro light_grey">
	<div class="container">
		<div class="section">
			<h1 class="fontsize-normal"><!-- Start Component Field: {"XPath":"tcm:Content/custom:pageSummary/custom:header"} -->PRECIOS DE SERVICIO</h1>	
		</div>
	</div>
</div>
<div class="generic-content-block section-wrapper ">	 	 		
	<div class="container">
		<div class="section">			
			<div class="el">
				<div>
					Precios de servicio b치sico, incluye IVA. Sujetos a cambio sin previo aviso. Consulte con su asesor de servicio el precio vigente y las acciones que se incluyen en el mantenimiento <br><br> Servicios realizados de acuerdo al km indiciado o al a침o de uso, lo primero que ocurra.
					<br>
					<br>
					<div class="table-content">
						<div class="el width-1of3">
							<table class="width200 technical-specifications">
								<tbody>
									<tr class="spec-info">
										<th class="model-0 spec-data odd" colspan="2">
											<strong>XK/XKR </strong>
											<br>
										</th>
									</tr>
									<tr>
										<th class="model-0 spec-data even">kms
										</th>
										<th class="model-0 spec-data odd">
											<strong>Precio </strong>
											<br>
										</th>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">16,000</td>
										<td align="center" class="model-0 spec-data odd">$3,706</td>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">32,000</td>
										<td align="center" class="model-0 spec-data odd">$6,612</td>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">48,000</td>
										<td align="center" class="model-0 spec-data odd">$3,706</td>
									</tr>
										<tr class="spec-info">
											<td align="center" class="model-0 spec-data even">64,000</td>
											<td align="center" class="model-0 spec-data odd">$8,361</td>
										</tr>
										<tr class="spec-info">
											<td align="center" class="model-0 spec-data even">80,000</td>
											<td align="center" class="model-0 spec-data odd">$3,706</td>
										</tr>
									
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">96,000</td>
										<td align="center" class="model-0 spec-data odd">$8,315</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="el width-1of3">
							<table class="width200 technical-specifications">
								<tbody>
									<tr class="spec-info">
										<th class="model-0 spec-data odd" colspan="2">
											<strong>XF </strong> <br> 2.0L
											<br>
										</th>
									</tr>
									<tr>
										<th class="model-0 spec-data even">kms
										</th>
										<th class="model-0 spec-data odd">
											<strong>Precio </strong>
											<br>
										</th>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">16,000</td>
										<td align="center" class="model-0 spec-data odd">$3,027</td>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">32,000</td>
										<td align="center" class="model-0 spec-data odd">$3,792</td>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">48,000</td>
										<td align="center" class="model-0 spec-data odd">$3,027</td>
									</tr>
										<tr class="spec-info">
											<td align="center" class="model-0 spec-data even">64,000</td>
											<td align="center" class="model-0 spec-data odd">$4,721</td>
										</tr>
										<tr class="spec-info">
											<td align="center" class="model-0 spec-data even">80,000</td>
											<td align="center" class="model-0 spec-data odd">$3,027</td>
										</tr>
									
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">96,000</td>
										<td align="center" class="model-0 spec-data odd">$3,792</td>
									</tr>
								</tbody>
							</table>			
						</div>
						<div class="el width-1of3">
							<table class="width200 technical-specifications">
								<tbody>
									<tr class="spec-info">
										<th class="model-0 spec-data odd" colspan="2">
											<strong>XF/XJ </strong> <br> 3.0L Supercargado
											<br>
										</th>
									</tr>
									<tr>
										<th class="model-0 spec-data even">kms
										</th>
										<th class="model-0 spec-data odd">
											<strong>Precio </strong>
											<br>
										</th>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">16,000</td>
										<td align="center" class="model-0 spec-data odd">$4,555</td>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">32,000</td>
										<td align="center" class="model-0 spec-data odd">$5,319</td>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">48,000</td>
										<td align="center" class="model-0 spec-data odd">$4,555</td>
									</tr>
										<tr class="spec-info">
											<td align="center" class="model-0 spec-data even">64,000</td>
											<td align="center" class="model-0 spec-data odd">$9,038</td>
										</tr>
										<tr class="spec-info">
											<td align="center" class="model-0 spec-data even">80,000</td>
											<td align="center" class="model-0 spec-data odd">$4,555</td>
										</tr>
									
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">96,000</td>
										<td align="center" class="model-0 spec-data odd">$5,319</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="el width-1of3">
							<table class="width200 technical-specifications">
								<tbody>
									<tr class="spec-info">
										<th class="model-0 spec-data odd" colspan="2">
											<strong>F-TYPE </strong> <br> 3.0L Supercargado
											<br>
										</th>
									</tr>
									<tr>
										<th class="model-0 spec-data even">kms
										</th>
										<th class="model-0 spec-data odd">
											<strong>Precio </strong>
											<br>
										</th>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">26,000</td>
										<td align="center" class="model-0 spec-data odd">$4,555</td>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">52,000</td>
										<td align="center" class="model-0 spec-data odd">$7,460</td>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">78,000</td>
										<td align="center" class="model-0 spec-data odd">$6,662</td>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">104,000</td>
										<td align="center" class="model-0 spec-data odd">$9,973</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="el width-1of3">
							<table class="width200 technical-specifications">
								<tbody>
									<tr class="spec-info">
										<th class="model-0 spec-data odd" colspan="2">
											<strong>F-TYPE </strong> <br> 5.0L Supercargado
											<br>
										</th>
									</tr>
									<tr>
										<th class="model-0 spec-data even">kms
										</th>
										<th class="model-0 spec-data odd">
											<strong>Precio </strong>
											<br>
										</th>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">26,000</td>
										<td align="center" class="model-0 spec-data odd">$4,555</td>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">52,000</td>
										<td align="center" class="model-0 spec-data odd">$7,460</td>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">78,000</td>
										<td align="center" class="model-0 spec-data odd">$6,662</td>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">104,000</td>
										<td align="center" class="model-0 spec-data odd">$9,973</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="el width-1of3">
							<table class="width200 technical-specifications">
								<tbody>
									<tr class="spec-info">
										<th class="model-0 spec-data odd" colspan="2">
											<strong>XF, XFR y XJ </strong> <br> 5.0L
											<br>
										</th>
									</tr>
									<tr>
										<th class="model-0 spec-data even">kms
										</th>
										<th class="model-0 spec-data odd">
											<strong>Precio </strong>
											<br>
										</th>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">24,000</td>
										<td align="center" class="model-0 spec-data odd">$4,373</td>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">48,000</td>
										<td align="center" class="model-0 spec-data odd">$5,157</td>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">72,000</td>
										<td align="center" class="model-0 spec-data odd">$4,392</td>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">96,000</td>
										<td align="center" class="model-0 spec-data odd">$8,875</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="el width-1of3">
							<table class="width200 technical-specifications">
								<tbody>
									<tr class="spec-info">
										<th class="model-0 spec-data odd" colspan="2">
											<strong>New XE/XF</strong> <br> 2.0L
											<br>
										</th>
									</tr>
									<tr>
										<th class="model-0 spec-data even">kms
										</th>
										<th class="model-0 spec-data odd">
											<strong>Precio </strong>
											<br>
										</th>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">16,000</td>
										<td align="center" class="model-0 spec-data odd">$3,027</td>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">32,000</td>
										<td align="center" class="model-0 spec-data odd">$4,308</td>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">48,000</td>
										<td align="center" class="model-0 spec-data odd">$3,027</td>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">64,000</td>
										<td align="center" class="model-0 spec-data odd">$5,594</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="el width-1of3">
							<table class="width200 technical-specifications">
								<tbody>
									<tr class="spec-info">
										<th class="model-0 spec-data odd" colspan="2">
											<strong>New XE/XF</strong> <br> 3.0L
											<br>
										</th>
									</tr>
									<tr>
										<th class="model-0 spec-data even">kms
										</th>
										<th class="model-0 spec-data odd">
											<strong>Precio </strong>
											<br>
										</th>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">26,000</td>
										<td align="center" class="model-0 spec-data odd">$5,836</td>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">52,000</td>
										<td align="center" class="model-0 spec-data odd">$5,836</td>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">78,000</td>
										<td align="center" class="model-0 spec-data odd">$8,408</td>
									</tr>
									<tr class="spec-info">
										<td align="center" class="model-0 spec-data even">104,000</td>
										<td align="center" class="model-0 spec-data odd">$5,836</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>