{% set url_banner = "img/agencias/" %}
{% set agencia = agnpa %}
<section class="hero-slider large-image fixed-header" style="height: 575px;">
	<ul class="slides">
		<li>
			<div class="background-image-holder overlay">
				<img alt="Slide Background" class="background-image" src="{{ _host }}{{ url_banner }}{{ agencia.fachada }}">
			</div>
			{#<div class="container vertical-align">
				<div class="row">
					<div class="col-sm-12 text-center" style="    font-family: 'jaguarbold',Arial,Helvetica,sans-serif; font-size: 32px; line-height: 1.1em; letter-spacing: 0.15em; text-align: left; font-weight: 500; padding-bottom: 20px; color: #fff; text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);">
						PRUEBA DE MANEJO
					</div>
				</div>
			</div><!--end of container-->
			#}
		</li>
	</ul>
</section>
<section style="background: none; padding: 0; margin: 0; height: 0px;"></section>