{% extends "super.twig" %}
{% block title %}{{ title }}{% endblock %}
{% block content_current %}
	<div style="padding-top: 97px; background-color: #e1dfdf;"></div>
	{# Utiity Bar #}
	<div class="utility-bar">
	    <div class="container">
	        <div class="row">
	            <div class="col-md-12 col-sm-12 col-xs-12">
	                <ol class="breadcrumb">
	                    <li><a href="{{ _host }}" id="return_index"><i class="fa fa-home"></i> Inicio</a></li>
	                    <li class=""><a href="{{ _host }}news" id="back-news">Noticias</a></li>
	                    <li class="active">Maestros de la Innovación</li>
	                </ol>
	            </div>
	        </div>
	    </div>
	</div>
	{# Start Body Content #}
    <div class="main" role="main">
        <div id="content" class="content full">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 single-post">
                        <header class="single-post-header clearfix">
                            <div class="post-actions">
                                <div class="post-date">Martes 28 de Junio de 2016</div>
                                <div class="comment-count"><a href="{{ _host }}news" id="back-news"><i class="fa fa-chevron-left"></i> Regresar</a></div>
                            </div>
                            <h2 class="post-title">Jaguar Night Experience</h2>
                        </header>
                        <article class="post-content">
                            {#<h3 class="post-subtitle">DISEÑADO EXCLUSIVAMENTE PARA HOY</h3>#}
                            <p>Noche de gala en la agencia de Jaguar Guadalajara, donde la F-Pace despertó suspiros de propios y extraños, un ambiente ameno y cálido entre amigos.</p>
                            <p>Manejando todos los modelos de Jaguar por las calles de la ciudad, felicidades a todos los que se atrevieron a descubrir que tan vivos están.</p>
                            <div class="featured-image featured-image-mobile">
                                <a>
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/1hNQKS4LDPs" frameborder="0" allowfullscreen=""></iframe>
                                </a>
                            </div>
                            <div class="tab_content_agencies animation-fadeIn">
                                <section class="" style="padding: 0px 0px 0px;">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 text-center" style="font-size: 16px; padding: 20px 5px 0px;">
                                            <a href="https://www.youtube.com/c/CamcarMx" class="button button-transparent bg-youtube resp-button tex-center resp-button-channel" target="_blank">
                                                <i class="fa fa-youtube-square fa-fw fa-lg"></i> CANAL DE YOUTUBE
                                            </a>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </article>
                        <div id="content-address"></div>
                    </div>
                    {# Start Sidebar #}
                    <div class="col-md-3 sidebar">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block load_scripts %}
	jagBlog._init();
    $(window).on("scroll", scrollHeader.init);
{% endblock %}